/* === pasL elements style === */

.pasL-col-sect {
	height: 100%;
	display: inline-block;
}
.pasL-row-sect {
	width: 100%;
	display: block;
}
.pasL-dark {
	background-color: rgba(33,33,33,.6);
}
.pasL-rcons {
	background-color: rgba(255,255,255,.6);
	border: 1px solid rgba(0,0,0,.6);
	position: absolute;
}
.pasL-srect {
	position: relative;
	cursor: move;
}

.pasL-rcons.l-t, .pasL-rcons.r-t, .pasL-rcons.l-b, .pasL-rcons.r-b {
	padding: 4px;
}
.pasL-rcons.l-t {
	top: -7px; left: -7px;
	cursor: nw-resize;
}
.pasL-rcons.r-t {
	top: -7px; right: -7px;
	cursor: ne-resize;
}
.pasL-rcons.l-b {
	bottom: -7px; left: -7px;
	cursor: sw-resize;
}
.pasL-rcons.r-b {
	bottom: -7px; right: -7px;
	cursor: se-resize;
}

.pasL-rcons.c-l {
	top: 0; bottom: 0;
	left: -3px;
	border-left: 2px dashed;
	cursor: w-resize;
}
.pasL-rcons.c-t {
	left: 0; right: 0;
	top: -3px;
	border-top: 2px dashed;
	cursor: n-resize;
}
.pasL-rcons.c-r {
	top: 0; bottom: 0;
	right: -3px;
	border-right: 2px dashed;
	cursor: e-resize;
}
.pasL-rcons.c-b {
	left: 0; right: 0;
	bottom: -3px;
	border-bottom: 2px dashed;
	cursor: s-resize;
} /* = = = = = = = = */

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
	.pasL-rcons.l-t { top:    -30px; left : -30px; }
	.pasL-rcons.r-t { top:    -30px; right: -30px; }
	.pasL-rcons.l-b { bottom: -30px; left : -30px; }
	.pasL-rcons.r-b { bottom: -30px; right: -30px; }
	.pasL-rcons.l-t, .pasL-rcons.r-b,
	.pasL-rcons.r-t, .pasL-rcons.l-b {
		padding: 30px;
		border-radius: 100%;
	}
	.pasL-rcons.c-t { border-top-width: 6px; top: -7px; }
	.pasL-rcons.c-l { border-left-width: 6px; left: -7px; }
	.pasL-rcons.c-r { border-right-width: 6px; right: -7px; }
	.pasL-rcons.c-b { border-bottom-width: 6px; bottom: -7px; }
}
