/* === pasL elements style === */

.pasl-col-sect {
	height: 100%;
	display: inline-block;
}
.pasl-row-sect {
	width: 100%;
	display: block;
}
.pasl-dark {
	background-color: rgba(33,33,33,.6);
}
.pasl-rcons {
	background-color: white;
	border: 1px solid black;
	position: absolute;
	opacity: 0.5;
}
.pasl-selection-area {
	position: relative;
	cursor: move;
}

.pasl-rcons.t-l, .pasl-rcons.t-r, .pasl-rcons.b-l, .pasl-rcons.b-r {
	min-height: 5px;
	min-width: 5px;
}
.pasl-rcons.t-l {
	top: -5px;
	left: -5px;
	cursor: nw-resize;
}
.pasl-rcons.t-r {
	top: -5px;
	right: -5px;
	cursor: ne-resize;
}
.pasl-rcons.b-l {
	bottom: -5px;
	left: -5px;
	cursor: sw-resize;
}
.pasl-rcons.b-r {
	bottom: -5px;
	right: -5px;
	cursor: se-resize;
}

.pasl-rcons.l-c {
	top: 20%;
	left: -3px;
	width: 1px;
	bottom: 20%;
	cursor: w-resize;
}
.pasl-rcons.t-c {
	top: -3px;
	left: 20%;
	right: 20%;
	height: 1px;
	cursor: n-resize;
}
.pasl-rcons.r-c {
	top: 20%;
	right: -3px;
	width: 1px;
	bottom: 20%;
	cursor: e-resize;
}
.pasl-rcons.b-c {
	left: 20%;
	right: 20%;
	height: 1px;
	bottom: -3px;
	cursor: s-resize;
} /* = = = = = = = = */
